<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="id"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="pw"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>